<%= form_for presentation do |f| %>
  <%= render 'errors' %>

  <p>
    <%= f.label :topic %><br>
    <%= f.text_field :topic %>
  </p>

  <p>
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </p>

  <p>
    <%= f.label :duration %><br>
    <%= f.text_field :duration %> Minutes
  </p>

  <p>
    <%= f.label :event %><br>
    <%= f.collection_select(:event_id, Event.upcoming, :id, :name, prompt: true, selected: @prepopulated_event ) %>
  </p>
  <% if current_person && current_person.admin? %>
    <p>
      <%= f.label :presenter %><br>
      <%= collection_select(:presentation, :person_id, Person.all, :id, :first_name, include_blank: true) %>
      or
      <%= f.text_field :presenter, placeholder: 'Enter guest name' %>
    </p>
  <% end %>

  <p>
    <%= f.submit %>
  </p>

<% end %>
