<h1>Presentation <%= @presentation.topic %></h1>

<dl>
  <dt>description</dt>
  <dd><%= @presentation.topic %></dd>

  <dt>Presenter</dt>
  <dd><%= @presentation.presenter_name %></ddv>

  <dt>Date</dt>
  <dd><%= @presentation.event.date %></dd>
</dl>

<%= link_to 'Edit', edit_presentation_path(@presentation) %>
<%= link_to 'Delete', presentation_path(@presentation),
  method: :delete,
  data: { confirm: 'Are you sure?' } %>

