<h1>Presentation <%= @presentation.topic %></h1>

<dl>
  <dt>description</dt>
  <dd><%= @presentation.topic %></dd>

  <dt>Presenter</dt>
  <dd><%= @presentation.presenter_name %></ddv>

  <dt>Date</dt>
  <dd><%= @presentation.event.date %></dd>
</dl>

<% if policy(@presentation).edit? %>
  <%= link_to 'Edit', edit_event_presentation_path(@presentation.event, @presentation) %>
<% end %>

<% if policy(@presentation).destroy? %>
  <%= link_to 'Delete', presentation_path(@presentation),
    method: :delete,
    data: { confirm: 'Are you sure?' } %>
<% end %>
