<%= flash[:notice] %>

<h1>Event: <%= @event.name %></h1>
<dl>
  <dt>Name</dl>
  <dd><%= @event.name %></dd>

  <dt>Date</dt>
  <dd><%= @event.date %></dd>

  <dt>Location</dt>
  <dd><%= @event.location %></dd>
</dl>

<%= link_to 'Edit', edit_event_path(@event) %>
<%= render partial: 'delete-link', locals: { event: @event } %>
