<header>
  <%= link_to image_tag('stembolt_logo', class: 'header-logo'), root_path %>
  <div class='header-links'>
    <ul>
      <li><%= link_to 'Upcoming Events', upcoming_events_path %></li>
      <li><%= link_to 'New Presentation', new_presentation_path %></li>
      <li>
        <% if current_person %>
          <%= link_to 'Sign Out', signout_path %>
        <% else %>
          <%= link_to 'Sign In', google_sign_in_path %>
        <% end %>
      </li>
    </ul>
  </div>
</header>
